<html>
    <head>
        <title>habbit Record</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    </head>
    <div class="container">
        <div class = "titleText">
            <h1>Habbit Record</h2>
        </div>
        <div>
            <h2><%=item['habbitname']%></h2>
        </div>
        <div class="habbitrecordList">
            <table class="habbitRecordTable">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>memo</td>
                        <td>date</td>
                        <td>delete</td>
                    </tr>
                </thead>
                <tbody>
                    <% items.forEach((item) => { %>
                        <tr>
                          <td><%=item['username']%></td>
                          <td><%=item['habbitmemo']%></td>
                          <td><%=item['date']%></td>
                          <td><a href="/delte">삭제</a></td>
                        </tr>
                    <% });%>
                </tbody>
            </table>
        </div>
        <a href="habbilt_record_add.html">add</a>
    </div>
</html>