<html>
  <head>
    <title>Add Habbit</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <form method="post" action="/addhabbit">
        <p>
          <label>habbit</label>
          <input type="text" name="habbitname" />
        </p>
        <p>
          <label>strDate</label>
          <input type="text" name="strDate" />
        </p>
        <p>
          <label>endDate</label>
          <input type="text" name="endDate" />
        </p>
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
