s
<html>
  <head>
    <title>habbit list</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div calss="container">
      <nav>
        <a href="/">HOME</a>
        <a href="/">logout</a>
      </nav>
      <div class="text">
        <h2>Hibbit List</h2>
      </div>
      <div class="listTable">
        <!-- <figure> -->
        <table class="habbitList" style="width: 100%; table-layout: auto">
          <thead>
            <tr>
              <th>ID</th>
              <th>습관명</th>
              <th>시작일 - 종료일</th>
              <th>기록갯수</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach((item) => { %>
            <tr>
              <td><%=item['username']%></td>
              <td>
                <a href="habbit_record_list.html"><%=item['habbitname']%></a>
              </td>
              <td><%=item['habbitdate']%></td>
              <td><%=item['count']%></td>
              <td><a href="/delete">삭제</a></td>
            </tr>
            <% });%>
          </tbody>
        </table>
        <!-- </figure> -->
      </div>
      <a href="habbit_add.html">add</a>
    </div>
  </body>
</html>
