<html>
  <head>
    <title>Add Habbit</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Habbit Add</h1>
      <form method="post" action="/add_habbit" >
        <p>
          <label>habbit</label>
          <input type="text" name="habit_name"  />
        </p>
        <p>
          <label>strDate</label>
          <input type="text" name="str_date" />
        </p>
        <p>
          <label>endDate</label>
          <input type="text" name="end_date" />
        </p>
        <a class="button" href="/habit_list">list</a>
        <button type="submit">submit</button>
        
      </form>
    </div>
  </body>
</html>
