<html>
  <head>
    <title>register</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div>
      <h1>Register</h1>
      <form method="post" action="/register">
        <figure>
          <p>
            <label>name</label>
            <input type="text" name="name" />
          </p>
          <p>
            <label>ID</label>
            <input type="text" name="email" />
            <label>* email로 id를 생성해주세요</label>
          </p>
          <p>
            <label>password</label>
            <input type="text" name="password" />
          </p>
          <a class="button" href="/login">back</a>
          <button type="submit">join</button>
        </figure>
      </form>
    </div>
  </body>
</html>
